<div style=" background-color: #2196F3; height: 40px; line-height: 40px;color: white;">
	<div id="bar" class="bar col-xs-1 col-sm-1 col-md-2">
		<i class="fa fa-bars fa-2x" style=" padding: 6px 0;" ng-click="navAccess()"></i>
	</div>
	<div class="appName col-xs-1 col-sm-1 col-md-2">
		<span style="font-size: 1.33333333em;">side navigation sample</span>
	</div>
	<div class="user col-xs-10 col-sm-10 col-md-8">
		<i class="fa fa-user fa-2x" style="  padding: 6px 0; float: right;"></i>
	</div>
</div>