<div>
	<div class="down-time-container">
		<div class="down-time">
			<div class="app-name">{{labels.label_appName}}</div>
			<div class="downtime">Downtime</div>
			<div class="line"></div>
		</div>
		<div class="down-time-details">
			<div class="appName-unavil">{{labels.label_appName}} application will be unavailable {{labels.label_unavailMsg}} from</div>
			<div class="time">{{labels.label_timeTo}} {{labels.label_timeZone}} to {{labels.label_timeFrm}} {{labels.label_timeZone}}</div>
			<div class="appName-unavil">Due to major software upgrades.</div>
			<div class="appName-unavil">After downtime please refresh your browser cache before login for better experience.</div>
			<div class="contact">Contact <a href="mailto:{{labels.label_email}}" target="_top">{{labels.label_email}}</a> for further assistance.</div>
		</div>
	</div>
</div>