<div id="navContainer" class="navContainer">
	<div class="details" style=" height: 100px; background-color: rgb(118, 177, 243); padding: 10px;">
		<div class="circle" style="display: inline-block;"><span style=" position: relative; font-size: 24px;">AP</span></div>
		<div style="display: inline-block;"><span>firstname lastname</span></div>
	</div>
	<div class="listContainer">
		<ul>
			<li ><i class="fa fa-id-card-o" aria-hidden="true"></i><a href="#mainPage">HOME</a></li>
		</ul>
	</div>
</div>